* {
  margin: 0;
  padding: 0px;
  border-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #222;
  --second-color: #333;
  --third-color: hsl(276, 75%, 53%);
  --roxo: rgba(120, 0, 200, 1);
  --active-color: hsl(276, 100%, 65%);
  --white-color: white;
  --black: black;
}

body {
  color: var(--white-color);
  background: var(--primary-color);
  text-align: center;
  justify-content: center;
  position: center;
  animation: fadeIn 1s ease-in-out;
    transition: all 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
margin: 40% auto;
}

.title {
  margin-top: 20px;
}


form {
  box-shadow: rgba(120, 0, 200, 0.7) 0px 0px 40px -7px;
  position: center;
  margin: 40px auto;
  background: #333;
  height: 400px;
  width: 85%;
  border-radius: 6px;
  border: 1px solid var(--third-color);
}


.email-form, .senha-form {
display: flex;
}


.email {
  font-family: "Space Mono", monospace;
  color: var(--white-color);
  border: 1px solid var(--third-color);
  border-radius: 6px;
  margin-left: 25px;
  margin-bottom: 10px;
  width: 240px;
  height: 40px;
  outline: none;
  display: block;
  background: #222;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}

.senha {
  font-family: "Space Mono", monospace;
  color: var(--white-color);
  border-top: 1px solid var(--third-color);
  border-left: 1px solid var(--third-color);
  border-bottom: 1px solid var(--third-color);
  border-right: none;
  border-radius: 6px 0 0 6px;
  margin-left: 25px;
  margin-bottom: 10px;
  width: 200px;
  height: 40px;
  outline: none;
  display: block;
  background: #222;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}

.icon-olho {
border-radius: 0 6px 6px 0;
border-top: 1px solid var(--third-color);
border-right: 1px solid var(--third-color);
border-bottom: 1px solid var(--third-color);
background: var(--primary-color);
color: var(--active-color);
width: 40px;
height: 40px;
z-index: 2;
cursor: pointer;
transition: all 0.3s ease;
}

.icon-olho:hover {
background: white;
}

.icon-olho i {
padding-top: 11px;

font-size: 18px;
}

input::placeholder {
  padding-left: 10px;
  color: var(--white-color);
}

.links-form {
  display: flex;
  margin: 0px auto;
}

.links-form a {
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  transition: all 0.3s ease;
}

.links-form a:hover {
color: var(--active-color);
}


/* Inicio botão lembrar */
.lembrar-login {
  position: center;
  display: flex;
  margin-top: 30px;
  margin-left: 25px;
}

.lembrar-content {
  display: flex;
  margin-top: 7px;
}

#btn-lembrar {
  margin-bottom: 70px;
  margin-right: 10px;
}


.lembrar-login label {
  font-family: "Space Mono", monospace;
  font-weight: 600;
  font-size: 13px;
  margin: 0;
}



.content-form {
  display: block;
}

.btn-entrar {

  align-items: center;
  position: center;
  justify-content: center;
  margin-left: 55px;
  border: 1px solid var(--third-color);
  border-radius: 6px;
  width: 150px;
  height: 35px;
  background: black;
  color: var(--white-color);
}

.form-title {
  margin: 30px auto;
  text-align: center;
  position: center;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 20px;
}



.g-recaptcha {
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  transform-origin: left top;
  -webkit-transform-origin: left top;
  width: 100px;
  height: 65px;
}

/* Pagina entrada */

.title-entrada {
  font-size: 15px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  margin: 10px auto 0px auto;
}

.codigo {
  text-align: center;
  margin: 20px auto;
  outline: none;
  border: 1px solid var(--roxo);
  border-radius: 6px;
  height: 40px;
  background: var(--primary-color);
  color: var(--active-color);
  font-size: 14px;
  font-weight: 400;
}

ul {
  display: block;
  margin-top: 40px;

}


ul li {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 13px;
  margin: 10px 0 10px 30px;
  width: 120px;
}

.content-form p {
width: 300px;
margin: 0 auto;
font-family: "Space Mono", monospace;
font-weight: 400;
font-size: 14px;
}

.content-form h3 {
  font-size: 18px;
  font-family: "Space Mono", monospace;
  font-weight: 600;
}

.btn-enviar {
  margin: 20px auto;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  border: 1px solid var(--third-color);
  color: var(--active-color);
  background: var(--black);
  font-size: 15px;
  transition: all 0.4s ease;
}

.btn-enviar:hover {
  color: var(--white-color);
  background: var(--roxo);
  border: 1px solid var(--white-color);
}
/* Fim entrada */

@media (max-width: 967px) {

.content-form {
  margin: 40px 0 0 0;
}

}

@media (min-width: 1920px) {

.g-recaptcha {
margin: 0 265px;
}

}

